body,
html,
* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#compiling-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: red;
    font-size: 8rem;
    display: grid;
    align-items: center;
    text-align: center;
}

#canvas {
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    image-rendering: pixelated;
}

#canvas2 {
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: -2;
    image-rendering: smooth;
}

/* @property --depth {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --depth {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
} */


#test-div {
    position: absolute;
    width: 20rem;
    height: 500px;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);

    transform-origin: 0px 70px;

    --diffuse-color: blue;
    --z: 0rem;

    --depth: 2.5rem;
    --r: 10rem;

    border-top-left-radius: 3rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 7rem;

    --border-radius-type: cosine;
    --rotation-offset: 3;

    --kd: 1;
    --ks: 1;
    --ka: 1;
    --p: 20;

    --specular-color: rgb(100, 100, 200);
    transition: --diffuse-color 0.3s, --z .3s, --specular-color .3s, --kd .3s, transform 1s;
    opacity: 0;

    z-index: 0;
}

/* #test-div:hover {
    background-color: rgb(100, 100, 200);
} */

#test-div:active {
    --diffuse-color: red;
    --z: -5rem;
}

.test-class {
    background-color: red;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.cc {
    top: 100px;
    left: 100px;
}

#background {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 150px;
    left: 450px;

    /*     transform: rotateX(20deg);
 */
    opacity: 0.2;

    --z: 0rem;
    --depth: 10rem;
}

#rect-vis {
    position: absolute;
    background-color: yellow;
    opacity: 0.2;
}

#fps-counter {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: black;
    padding: 0.2rem;
}

.sdf-text {
    position: absolute;
    bottom: 5rem;
    left: 10rem;

    text-align: center;
    font-size: 30rem;
    /*     letter-spacing: 10rem;
 */
    /*     word-spacing: 10rem;
 */
    /*     color: rgba(255, 255, 255, 0.2) !important;
 */
    --letterSmoothness: 0.1rem;

    /*     transform: rotateX(45deg) rotateY(30deg);
 */
    /*     transform: translateZ(-1rme) rotateY(40deg) rotateX(30deg);
 */
    /*     transform: translateZ(-10rem) rotate(100deg);
 */
    word-break: break-all;

    /*     background-color: rgba(255, 0, 255, 0.2);
 */
    --diffuse-color: red;
    --depth: 1rem;
    --z: 0rem;
}

/* .sdf-text:hover{
    font-size: 10rem;
} */

.ddd {
    left: 30rem;
    height: 26rem;
    /*     transform: rotate3d(1, 1, 1, 45deg) translateX(40rem);
 */
}

#lkj {
    transform: rotate(-100deg);
}

#target {
    position: absolute;
    top: 50vh;
    width: 5rem;
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 100;
    width: 100%;
    margin-top: 0rem;

    --twist-axis: 0 1 0;
    --twist-amount: 0.1;
    --twist-start: 10rem;
    --twist-end: 30rem;
}

#my-input-container {
    z-index: 10;
}

#my-input {
    z-index: inherit;
}

#all-types-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: auto;
    align-items: center;
    align-content: center;
    --ambient-color: rgb(100, 110, 110);
}

#all-types-container * {
    --ambient-color: rgb(30, 30, 30);
    --diffuse-color: aqua;
    --specular-color: red;
    --kd: 1;
    --ka: 0.5;
    --ks: 1;
    --p: 10;
    height: 15rem;
    justify-self: center;
    color: black;
    text-align: center;
    display: grid;
    align-items: center;
    --depth: 1rem;
    --z: 0;
}

.test-sdf-sphere {
    --r: 10rem;
}

#test-sdf-box-simple {
    width: 10rem;
    height: 5rem;
    --ks: 0.1;
}

.extrude {
    --extrude: 1rem;
}

#test-sdf-box,
#test-sdf-box-2 {
    width: 10rem;
    height: 5rem;

    transform: rotateY(-45deg);

    border-radius: 2rem 1rem 2.5rem;
    --border-radius-type: cubic;
    --ks: 0.1;
}

#test-sdf-box-2 {
    --rotation-offset: y;
    --depth: 5rem;
}

#test-sdf-box-round {
    width: 10rem;
    height: 10rem;
    --r: 5rem;
}

#test-sdf-cylinder {
    background-color: rgba(1, 0, 0, 0.2) !important;
    --rotation-offset: z;

    --depth: 3rem;
    --axis: y;
    /*     --extrude: 1rem;
 */
    align-self: center;
    width: 10rem;
    height: 5rem;
}

#test-sdf-triangle {
    --point-a: -5rem -5rem;
    --point-b: 5rem -5rem;
    --point-c: 0px 5rem;
    --depth: 1rem;
    --extrude: 1rem;
    /*     transform: rotateY(45deg);
 */
}

#test-sdf-custom {
    --depth: 1rem;
    --extrude: 1rem;
    --scale: 10rem;
}

.light {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: red !important;
    top: 0;
    left: 0;
    z-index: 10;
}

#light-1 {
    background-color: yellow !important;
    --diffuse-color: white;
    top: 30rem;
    left: 50%;
    --z: 10rem;
    --light-type: directional;
    --light-direction: 1 1 -1;
    --light-intensity: 1;
    --light-radius: 100rem;
}

#light-2 {
    --diffuse-color: red;
    top: 10rem;
    left: 10rem;
    --z: 10rem;
    --light-type: point;
    --light-intensity: 0.9;
    --light-radius: 50rem;
}