body,
html,
* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

@property --z {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --depth {
    syntax: "<length>";
    inherits: false;
    initial-value: 0.1px;
}

@property --specular-color {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0, 0, 0);
}

@property --ambient-color {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0, 0, 0);
}

@property --kd {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --ks {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --ka {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --p {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

/* @property --depth {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --depth {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
} */


#test-div {
    position: absolute;
    width: 10rem;
    height: 300px;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    --z: 5rem;
    --depth: 10rem;

    --kd: 1;
    --ks: 1;
    --ka: 1;
    --p: 20;

    --specular-color: rgb(100, 100, 200);
    transition: background-color 0.3s, --z .3s, --specular-color .3s, --kd .3s;
    opacity: 0.05;
}

/* #test-div:hover {
    background-color: rgb(100, 100, 200);
} */

#test-div:active {
    background-color: red;

    --specular-color: rgb(255, 255, 200);
    --z: 0.1rem;
    --kd: 0.1;
    --ks: 0.1;
    --ka: 0.1;
}

.test-class {
    background-color: red;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.cc {
    top: 100px;
    left: 100px;
}

#background {
    width: 600px;
    height: 600px;
    background-color: blue;
    position: absolute;
    top: 150px;
    left: 150px;

    opacity: 0;

    --z: 0;
    --depth: 100rem;
}