#all-types-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: auto;
    align-items: center;
    align-content: center;
    --ambient-color: rgb(100, 110, 110);
}

#all-types-container * {
    --ambient-color: rgb(30, 30, 30);
    --diffuse-color: aqua;
    --specular-color: red;
    --kd: 1;
    --ka: 0.5;
    --ks: 1;
    --p: 10;
    height: 15rem;
    justify-self: center;
    color: black;
    text-align: center;
    display: grid;
    align-items: center;
    --depth: 1rem;
    --z: 0;
}

.test-sdf-sphere {
    --r: 10rem;
}

#test-sdf-box-simple {
    width: 10rem;
    height: 5rem;
    --ks: 0.1;
}

.extrude {
    --extrude: 1rem;
}

#test-sdf-box,
#test-sdf-box-2 {
    width: 10rem;
    height: 5rem;

    transform: rotateY(-45deg);

    border-radius: 2rem 1rem 2.5rem;
    --border-radius-type: cubic;
    --ks: 0.1;
}

#test-sdf-box-2 {
    --rotation-offset: y;
    --depth: 5rem;
}

#test-sdf-box-round {
    width: 10rem;
    height: 10rem;
    --r: 5rem;
}

#test-sdf-cylinder {
    background-color: rgba(1, 0, 0, 0.2) !important;
    --rotation-offset: z;

    --depth: 3rem;
    --axis: y;
/*     --extrude: 1rem;
 */
    align-self: center;
    width: 10rem;
    height: 5rem;
    transform: rotateY(-45deg);
}

.light {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: red !important;
    top: 0;
    left: 0;
    z-index: 10;
}

#light-1 {
    background-color: yellow !important;
    --diffuse-color: white;
    top: 30rem;
    left: 50%;
    --z: 10rem;
    --light-type: directional;
    --light-direction: 1 1 -1;
    --light-intensity: 1;
    --light-radius: 100rem;
}

#light-2 {
    --diffuse-color: red;
    top: 10rem;
    left: 10rem;
    --z: 10rem;
    --light-type: point;
    --light-intensity: 0.9;
    --light-radius: 50rem;
}