#all-types-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: auto;
    align-items: center;

    --ambient-color: rgb(100, 110, 110);
}

#all-types-container * {
    --ambient-color: rgb(30, 30, 30);
    --diffuse-color: aqua;
    --specular-color: red;
    --kd: 1;
    --ka: 0.5;
    --ks: 1;
    --p: 10;
    height: 15rem;

    color: black;
    text-align: center;
    display: grid;
    align-items: center;
    --depth: 1rem;
    --z: 0;
}

.test-sdf-sphere {
    --r: 10rem;
}

#test-sdf-box-simple {
    width: 10rem;
    height: 5rem;
    --ks: 0.1;
}

.extrude {
    --extrude: 1rem;
}

#test-sdf-box,
#test-sdf-box-2 {
    width: 10rem;
    height: 5rem;

    border-radius: 2rem 1rem 2.5rem;
    --border-radius-type: 0;
    --ks: 0.1;
}

#test-sdf-box-2 {
    --rotation-offset: 2;
    --depth: 5rem;
}

#test-sdf-box-round {
    width: 10rem;
    height: 10rem;
    --r: 5rem;
}