body,
html,
* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

@property --depth {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

#test-div{
    position: absolute;
    width: 300px;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    --depth: 0;
    transition: background-color 0.3s, --depth .3s;
}

#test-div:active{
    background-color: green;
    --depth: .3;
}