body,
html,
* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#canvas {
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    image-rendering: pixelated;
}

#canvas2{
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: -2;
    image-rendering: smooth;
}

@property --z {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --depth {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --r {
    syntax: "<length>";
    inherits: false;
    initial-value: 10px;
}

@property --border-radius-type {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --rotation-offset {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --diffuse-color {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0, 0, 0);
}

@property --specular-color {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0, 0, 0);
}

@property --ambient-color {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0, 0, 0);
}

@property --kd {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --ks {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --ka {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --p {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

.sdf-ui-base-class {
    /*     background-color: rgba(0, 0, 0, 0)!important;
 */
}

/* @property --depth {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --depth {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
} */


#test-div {
    position: absolute;
    width: 20rem;
    height: 500px;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);

    transform-origin: 0px 70px;

    --diffuse-color: blue;
    --z: 10rem;

    --depth: 10rem;
    --r: 10rem;

    border-top-left-radius: 3rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 7rem;

    --border-radius-type: 2;
    --rotation-offset: 3;

    --kd: 1;
    --ks: 1;
    --ka: 1;
    --p: 20;

    --specular-color: rgb(100, 100, 200);
    transition: --diffuse-color 0.3s, --z .3s, --specular-color .3s, --kd .3s, transform 1s;
    opacity: 0;

    z-index: 1999;
}

/* #test-div:hover {
    background-color: rgb(100, 100, 200);
} */

#test-div:active {
    --diffuse-color: red;
    /*     --specular-color: blue;
 */
    /*     transform: translate(-50%, -50%) rotate(100deg);
 */
    --z: 10;

    /*     --specular-color: rgb(255, 255, 200);
    --z: 0rem;
    --kd: 0.1;
    --ks: 0.1;
    --ka: 0.1; */
}

.test-class {
    background-color: red;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.cc {
    top: 100px;
    left: 100px;
}

#background {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 150px;
    left: 450px;

    /*     transform: rotateX(20deg);
 */
    opacity: 0.2;

    --z: 0rem;
    --depth: 10rem;
}

#rect-vis {
    position: absolute;
    background-color: yellow;
    opacity: 0.2;
}


#fps-counter {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: black;
    padding: 0.2rem;
}