body,
html,
* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

@property --z {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --depth {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --r {
    syntax: "<length>";
    inherits: false;
    initial-value: 10px;
}

@property --border-radius-type {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --specular-color {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0, 0, 0);
}

@property --ambient-color {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0, 0, 0);
}

@property --kd {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --ks {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --ka {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --p {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

/* @property --depth {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --depth {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
} */


#test-div {
    position: absolute;
    width: 20rem;
    height: 500px;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);

    transform-origin: 0px 70px;

    background-color: red;
    --z: 10rem;

    --depth: 5rem;
    --r: 10rem;

    border-top-left-radius: 10rem;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 0.00rem;
    border-bottom-right-radius: 0.00rem;

    --border-radius-type: 0;


    --kd: 1;
    --ks: 1;
    --ka: 1;
    --p: 20;

    --specular-color: rgb(100, 100, 200);
    transition: background-color 0.3s, --z .3s, --specular-color .3s, --kd .3s, transform 1s;
    opacity: 0.2;

    z-index: 1999;
}

/* #test-div:hover {
    background-color: rgb(100, 100, 200);
} */

#test-div:active {
    background-color: red;
/*     transform: translate(-50%, -50%) rotate(100deg);
 */
    --z: 10;

    /*     --specular-color: rgb(255, 255, 200);
    --z: 0rem;
    --kd: 0.1;
    --ks: 0.1;
    --ka: 0.1; */
}

.test-class {
    background-color: red;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.cc {
    top: 100px;
    left: 100px;
}

#background {
    width: 600px;
    height: 600px;
    background-color: blue;
    position: absolute;
    top: 350px;
    left: 450px;

    opacity: 0.2;

    --z: 0rem;
    --depth: 10rem;
}

#rect-vis {
    position: absolute;
    background-color: yellow;
    opacity: 0.2;
}